<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w2m.superheroes.mapper.SuperHeroesMapper">

    <select id="select" resultMap="dto">
        select *
        from superheroes.superheroes
        <if test="id != null">
            where id = #{id}
        </if>
        <if test="nombre != null">
            where nombre like '%${nombre}%'
        </if>
    </select>

    <select id="update" resultType="hashmap">
        <if test="dto.id != null">
            <if test="dto.nombre !=null || dto.genero !=null">
            	update superheroes.superheroes
            	set fechaModificacion = CURRENT_TIMESTAMP
                <if test="dto.nombre !=null">
                    , nombre = #{dto.nombre}
                </if>
                <if test="dto.genero !=null">
                    , genero = #{dto.genero}
                </if>
            	where id = #{dto.id}
            </if>
        </if>
    </select>

    <select id="delete" resultType="hashmap">
        <if test="id != null">
        	delete from superheroes.superheroes where id = #{id}
        </if>
    </select>

    <resultMap id="dto" type="com.w2m.superheroes.dto.SuperHeroeDTO">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="genero" column="genero"/>
    </resultMap>
</mapper>